# ── Telegram ────────────────────────────────────
API_ID=8341261215
API_HASH=d7d3bff9f7cf9f3b111129bdbd13a065
BOT_TOKEN=7819702893:AAG_7SpsUVXEK8ocFu4uaMPnAqZ4pBy8qG0:your_bot_token_here

# ── Admins (comma-separated Telegram user IDs) ──
ADMIN_IDS=6728678197

# ── MongoDB ─────────────────────────────────────
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
DB_NAME=kenshin_anime_bot

# ── Storage group (private group ID) ────────────
STORAGE_GROUP_ID=-1003402760539

# ── Settings ────────────────────────────────────
DELETE_AFTER=05
AUTO_CHECK_INTERVAL=01
FILE_PREFIX=@KENSHIN_ANIME
